doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title HikingTrails
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="/css/main.css")    
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
      .container
        a.navbar-brand.mr-5(href="/trails") HikingTrails
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent
          form.form.my-2.my-md-0.mr-auto(action="/trails" method="GET")
            .input-group
              input.form-control.border-right-0.border-secondary(type="search" name="search" placeholder="Search trails...")
              span.input-group-append
                button.btn.btn-outline-secondary.border-left-0.border-secondary
                  span.oi.oi-magnifying-glass(aria-hidden="true")
          ul.navbar-nav
            if !user
              li.nav-item(class={active: page === 'login'}): a.nav-link(href="/login")
                | #[span.oi.oi-account-login] Login
              li.nav-item(class={active: page === 'register'}): a.nav-link(href="/register")
                | #[span.oi.oi-person] Sign Up
            else
              li.nav-item.active: a.nav-link(href=`/users/${user._id}`)
                | #[span.oi.oi-person] #{user.username}
              li.nav-item: a.nav-link(href="/logout")
                | #[span.oi.oi-account-logout] Logout
    .container
      if success.length > 0
        .alert.alert-success(role="alert")
          | #{success}
      else if error.length > 0
        .alert.alert-danger(role="alert")
          | #{error}
      block content
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
    block scripts