extends layouts/layout

block content
  h3.font-weight-light.text-center.mb-4 Sign in to HikingTrails
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .row.mb-4
        .col-12
          .card
            .card-body
              form.mb-2(action="/login" method="POST")
                .form-group
                  label(for="username") Username
                  input.form-control(type="text" name="username" id="username" tabindex="1" autofocus required)
                span.small.float-right: a(href="/forgot" tabindex="4") Forgot password?
                .form-group
                  label(for="password") Password
                  input.form-control(type="password" name="password" id="password" tabindex="2" required)
                button.btn.btn-primary.btn-block(tabindex="3") Sign in
      .row.text-center
        .col-12
          .card
            .card-body
              | New to HikingTrails? #[a(href="/register" tabindex="5") Create an account].