extends layouts/layout

block content
  h1.text-center.mb-4 Join HikingTrails
  .row
    .col-12.col-md-10.col-lg-8.mx-auto
      form.mb-2(action="/register" method="POST")
        .row
          .col-12.col-sm-6
            .form-group
              label(for="firstName") First Name
              input.form-control(type="text" name="firstName" id="firstName" autofocus required)
          .col-12.col-sm-6
            .form-group
              label(for="lastName") Last Name
              input.form-control(type="text" name="lastName" id="lastName" required)
        .row
          .col-12.col-sm-6
            .form-group
              label(for='username') Username
              input.form-control(type="text" name="username" id="username" required)
          .col-12.col-sm-6
            .form-group
              label(for='password') Password
              input.form-control(type="password" name="password" id="password" required)
        .row
          .col-12.col-sm-6
            .form-group
              label(for='email') Email
              input.form-control(type="email" name="email" id="email" required)
        .row
          .col-12
            .form-group
              label(for="biography") Biography
              textarea.form-control(name="biography" id="biography" placeholder="Write a short description of yourself" rows="4")
        button.btn.btn-primary Create an account