extends layouts/layout

block content
  h3.font-weight-light.text-center.mb-4 Reset password
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card
        .card-body
          form.mb-2(action=`/reset/${resetPasswordToken}` method="POST")
            .form-group
              label(for="password") New password
              input.form-control(type="password" name="password" id="password" autofocus required)
            .form-group
              label(for="confirm") Confirm password
              input.form-control(type="password" name="confirm" id="confirm" required)
            button.btn.btn-primary.btn-block Reset password