extends ../layouts/layout

block content
  h3.font-weight-light.text-center.mb-4 Create a new trail
  .row
    .col-sm-10.col-md-8.col-lg-6.col-xl-4.mx-auto
      form.mb-2(action="/trails" method="POST" enctype="multipart/form-data")
        .form-group
          label(for="name") Name
          input.form-control(type="text" name="trail[name]" id="name" placeholder="Breakneck Ridge" required)
        .form-group
          label(for="estimatedTime") Estimated Time (minutes)
          input.form-control(type="number" name="trail[estimatedTime]" id="estimatedTime" placeholder="240" min="1" step="1" required)
        .form-group
          label(for="image") Image
          .input-group
            .custom-file
              input.custom-file-input(type="file" name="image" id="image" accept="image/*" required)
              label.custom-file-label(for="image") Choose file
        .form-group
          label(for="location") Location
          input.form-control(type="text" name="trail[location]" id="location" placeholder="Breakneck Ridge, Philipstown, NY 10516")
        .form-group
          label(for="description") Description
          textarea.form-control(name="trail[description]" id="description" placeholder="Mountain along the Hudson River between Beacon and..." rows="4")
        button.btn.btn-lg.btn-primary.btn-block Save
      a(href="/trails") Go back

block scripts
  script(src="/js/trails/new.js")