extends ../layouts/layout

block content
  h3.font-weight-light.text-center.mb-4 Create a new trail
  .row
    .col-12.col-md-10.col-lg-8.mx-auto
      form.mb-2(action="/trails" method="POST" enctype="multipart/form-data")
        .row
          .col-12.col-sm-6
            .form-group
              label(for="name") Name
              input.form-control(type="text" name="trail[name]" id="name" placeholder="Breakneck Ridge" required)
          .col-12.col-sm-6
            .form-group
              label(for="image") Image
              .input-group
                .custom-file
                  input.custom-file-input(type="file" name="image" id="image" accept="image/*" required)
                  label.custom-file-label(for="image") Choose file...
        .row
          .col-12.col-sm-6
            .form-group
              label(for="difficulty") Difficulty
              .input-group
                select#difficulty.custom-select(name="trail[difficulty]")
                  option(selected='') Choose difficulty...
                  option(value='Very easy') Very easy
                  option(value='Easy') Easy
                  option(value='Medium') Medium
                  option(value='Hard') Hard
                  option(value='Very hard') Very hard
          .col-12.col-sm-6
            .form-group
              label(for="estimatedTime") Estimated time (minutes)
              input.form-control(type="number" name="trail[estimatedTime]" id="estimatedTime" placeholder="240" min="1" step="1" required)
        .row
          .col-12
            .form-group
              label(for="location") Location
              input.form-control(type="text" name="trail[location]" id="location" placeholder="Breakneck Ridge, Philipstown, NY 10516")
        .row
          .col-12
            .form-group
              label(for="description") Description
              textarea.form-control(name="trail[description]" id="description" placeholder="Mountain along the Hudson River between Beacon and..." rows="4")
        button.btn.btn-primary Create a new trail

block scripts
  script(src="/js/trails/new.js")